@font-face {
    font-family: "Old English Five";
    src: url('OldEnglishFive-axyVg.ttf');
}

body {
    background-color: black;
}

.div {
    position: relative;
    text-align: center;
    height: 300px;
}

#nome {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 10%;
    margin: auto;
    font-size: 48px;
    line-height: 28px;
    padding: 10px; 
    color: white;
    font-family: 'Old English Five';
}